body {
  background-color: #DADADA;
}
body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}

#loader {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

#wrapper {
  display: none;
}


._content {
  display: block;
  height: 80vh;
  width: 100vh;
  padding-top: 5vh;
  margin-bottom: 10vh;
}
